<?xml version="1.0" encoding="UTF-8"?>    
<beans xmlns="http://www.springframework.org/schema/beans"    
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:jee="http://www.springframework.org/schema/jee"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="    
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd  
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">    

    <!-- 自动加载构建bean -->
    <context:component-scan base-package="com.*" />

    <!-- 定义调用对象和调用对象的方法 -->
    <bean id="csAutoCheckDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 调用的类 -->
        <property name="targetObject" ref="CSAutoJob" />
        <!-- 调用类中的方法 -->
        <property name="targetMethod" value="csAutoCheck" />
        <!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
        <property name="concurrent" value="false"/>
    </bean>

    <!-- 定义调用对象和调用对象的方法 -->
    <bean id="autoCheckPingDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- 调用的类 -->
        <property name="targetObject" ref="AutoCheckPingByHill" />
        <!-- 调用类中的方法 -->
        <property name="targetMethod" value="autoCheckPing" />
        <!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
        <property name="concurrent" value="false"/>
    </bean>

    <!-- quartz-2.x的配置 -->
    <!-- 定义触发时间 -->
    <bean id="csAutoCheckJobTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="csAutoCheckDetail" />
        </property>
        <property name="cronExpression">
            <value>0/20 * * * * ?</value>
<!--            <value>0 0/6 * * * ? </value>-->
        </property>
    </bean>
    <bean id="autoCheckPingTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="autoCheckPingDetail"/>
        <property name="cronExpression">
<!--            <value>0/20 * * * * ?</value>-->
            <value>0 0 11,16,19,22 * * ? </value>
        </property>
    </bean>

    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
    <!-- 如果lazy-init='true',则需要实例化该bean才能执行调度程序 -->
    <bean name="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
<!--                 <ref bean="csAutoCheckJobTrigger" />-->
                <ref bean="autoCheckPingTrigger" />
            </list>
        </property>
    </bean>
  
</beans>  